Repository rhysj6/homelab: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/applications/cd-management.yml, pipelines/applications/cd-observability.yml, pipelines/applications/cd-rancher.yml, pipelines/applications/cd-redcliff.yml, pipelines/applications/cd-test.yml, pipelines/applications/ci-applications.yml, pipelines/applications/ci-management.yml, pipelines/applications/ci-observability.yml, pipelines/applications/ci-rancher.yml, pipelines/applications/ci-redcliff.yml, pipelines/applications/ci-test.yml, pipelines/clusters-core/cd-management.yml, pipelines/clusters-core/cd-redcliff.yml, pipelines/clusters-core/cd-test.yml, pipelines/clusters-core/ci-management.yml, pipelines/clusters-core/ci-redcliff.yml, pipelines/clusters-core/ci-test.yml, pipelines/provisioning.yml

pipelines/applications/cd-management.yml:
  extends:
    template: ../templates/apply-module.yml
    parameters:
      moduleName: Management - Applications
      modulePath: applications/clusters/management

pipelines/applications/cd-observability.yml:
  extends:
    template: ../templates/apply-module.yml
    parameters:
      moduleName: Observability stack
      modulePath: applications/observability

pipelines/applications/cd-rancher.yml:
  extends:
    template: ../templates/apply-module.yml
    parameters:
      moduleName: Rancher
      modulePath: applications/rancher
      kubeConfigSecureFile: management-kubeconfig

pipelines/applications/cd-redcliff.yml:
  extends:
    template: ../templates/apply-module.yml
    parameters:
      moduleName: Redcliff - Applications
      modulePath: applications/clusters/redcliff

pipelines/applications/cd-test.yml:
  extends:
    template: ../templates/apply-module.yml
    parameters:
      moduleName: Test - Applications
      environment: test
      modulePath: applications/clusters/test

pipelines/applications/ci-applications.yml:
  pool: Self hosted
  stages:
  - stage: ModuleChangeDetection
    displayName: Application cluster change detection
    variables:
    - group: terraform
    jobs:
    - job: ModulePlan
      strategy:
        matrix:
          Test:
            MODULE_NAME: test
            MODULE_PATH: applications/clusters/test
  ...

pipelines/applications/ci-management.yml:
  pool: Self hosted
  stages:
  - stage: ManagementModuleChangeDetection
    displayName: Management module change detection
    variables:
    - group: terraform
    jobs:
    - template: ../templates/module-change-detection.yml
      parameters:
        moduleName: Management - Applications
  ...

pipelines/applications/ci-observability.yml:
  pool: Self hosted
  stages:
  - stage: ObservabilityModuleChangeDetection
    displayName: Observability module change detection
    variables:
    - group: terraform
    jobs:
    - template: ../templates/module-change-detection.yml
      parameters:
        moduleName: Observability stack
  ...

pipelines/applications/ci-rancher.yml:
  pool: Self hosted
  stages:
  - stage: RancherModuleChangeDetection
    displayName: Rancher module change detection
    variables:
    - group: terraform
    jobs:
    - template: ../templates/module-change-detection.yml
      parameters:
        moduleName: Rancher
        modulePath: applications/rancher
  ...

pipelines/applications/ci-redcliff.yml:
  pool: Self hosted
  stages:
  - stage: RedcliffModuleChangeDetection
    displayName: Redcliff module change detection
    variables:
    - group: terraform
    jobs:
    - template: ../templates/module-change-detection.yml
      parameters:
        moduleName: Redcliff - Applications
  ...

pipelines/clusters-core/cd-redcliff.yml:
  extends:
    template: ../templates/apply-module.yml
    parameters:
      moduleName: redcliff
      environment: redcliff
      modulePath: clusters/redcliff/core

Fixed missing providers to use generated kubeconfig
  clusters/test/cluster/providers.tf
Due: none

Removed rancher downstream cluster module and moved etcd backup bucket into core cluster module
  modules/core_cluster/etcd-bucket.tf
  modules/downstream_cluster/README.md
  modules/downstream_cluster/main.tf
  modules/downstream_cluster/variables.tf
  modules/downstream_cluster/versions.tf
Due: pipelines/clusters-core/cd-management.yml, pipelines/clusters-core/cd-redcliff.yml, pipelines/clusters-core/cd-test.yml, pipelines/clusters-core/ci-management.yml, pipelines/clusters-core/ci-redcliff.yml, pipelines/clusters-core/ci-test.yml

Renamed infisical environment to main
  modules/core_cluster/data.tf
Due: pipelines/clusters-core/cd-management.yml, pipelines/clusters-core/cd-redcliff.yml, pipelines/clusters-core/cd-test.yml, pipelines/clusters-core/ci-management.yml, pipelines/clusters-core/ci-redcliff.yml, pipelines/clusters-core/ci-test.yml

Moving test cluster to terragrunt setup
  modules/talos_cluster/cilium.tf
  modules/talos_cluster/cilium_values.yaml
  modules/talos_cluster/control-plane.tf
  modules/talos_cluster/installer.tf
  modules/talos_cluster/locals.tf
  modules/talos_cluster/main.tf
  modules/talos_cluster/patches/control-plane.yml
  modules/talos_cluster/patches/longhorn-volume.yml
  modules/talos_cluster/patches/longhorn.yml
  modules/talos_cluster/patches/main.yml
  modules/talos_cluster/patches/node_specific/network.yml.tmpl
  modules/talos_cluster/providers.tf
  root.hcl
  versions.tf
Due: none

Made talos module write kubeconfig to infisical after run
  modules/talos_cluster/control-plane.tf
  modules/talos_cluster/locals.tf
  modules/talos_cluster/main.tf
  modules/talos_cluster/providers.tf
  modules/talos_cluster/secrets.tf
  modules/talos_cluster/variables.tf
Due: none

Added terragrunt cache to gitignore
  .gitignore
Due: none

Bug fixing
  modules/talos_cluster/providers.tf
  modules/talos_cluster/secrets.tf
  root.hcl
  terragrunt/test/cluster/env.hcl
  terragrunt/test/cluster/talos/terragrunt.hcl
  versions.tf
Due: none

Moved terragrunt files into terragrunt folder and updated s3 config
  terragrunt/root.hcl
  terragrunt/versions.tf
Due: none

Removed variables that could be injected as secrets
  modules/core_cluster/cert-manager.tf
  modules/core_cluster/data.tf
  modules/core_cluster/infisical.tf
  modules/core_cluster/longhorn.tf
  modules/core_cluster/traefik.tf
  modules/core_cluster/variables.tf
  modules/core_cluster/versions.tf
Due: pipelines/clusters-core/cd-management.yml, pipelines/clusters-core/cd-redcliff.yml, pipelines/clusters-core/cd-test.yml, pipelines/clusters-core/ci-management.yml, pipelines/clusters-core/ci-redcliff.yml, pipelines/clusters-core/ci-test.yml

Fixed broken versions.tf file path
  terragrunt/root.hcl
Due: none

Removed old core cluster module
  clusters/test/.gitkeep
  clusters/test/core/main.tf
  clusters/test/core/providers.tf
Due: pipelines/clusters-core/cd-test.yml, pipelines/clusters-core/ci-test.yml

Adjusted kubeconfig secret generation to use single folder
  modules/talos_cluster/secrets.tf
  terragrunt/root.hcl
Due: none

Formatting
  terragrunt/root.hcl
  terragrunt/test/cluster/talos/terragrunt.hcl
Due: none

Moved talos module to cluster folder within modules
  modules/cluster/talos_cluster/cilium.tf
  modules/cluster/talos_cluster/cilium_values.yaml
  modules/cluster/talos_cluster/control-plane.tf
  modules/cluster/talos_cluster/installer.tf
  modules/cluster/talos_cluster/main.tf
  modules/cluster/talos_cluster/patches/control-plane.yml
  modules/cluster/talos_cluster/patches/longhorn-volume.yml
  modules/cluster/talos_cluster/patches/longhorn.yml
  modules/cluster/talos_cluster/patches/main.yml
  modules/cluster/talos_cluster/patches/node_specific/network.yml.tmpl
  modules/cluster/talos_cluster/providers.tf
  modules/cluster/talos_cluster/secrets.tf
  modules/cluster/talos_cluster/variables.tf
  terragrunt/test/cluster/talos/terragrunt.hcl
Due: none

Moved core_cluster into two separate modules that can deploy sequentially
  modules/cluster/bootstrap_final/certs.tf
  modules/cluster/bootstrap_final/data.tf
  modules/cluster/bootstrap_final/infisical.tf
  modules/cluster/bootstrap_final/ingress.tf
  modules/cluster/bootstrap_final/variables.tf
  modules/cluster/bootstrap_init/cert-manager.tf
  modules/cluster/bootstrap_init/cilium.tf
  modules/cluster/bootstrap_init/data.tf
  modules/cluster/bootstrap_init/etcd-bucket.tf
  modules/cluster/bootstrap_init/longhorn.tf
  modules/cluster/bootstrap_init/monitoring.tf
  modules/cluster/bootstrap_init/templates/monitoring_values.yaml
  modules/cluster/bootstrap_init/templates/traefik_values.yaml
  modules/cluster/bootstrap_init/traefik.tf
  modules/cluster/bootstrap_init/variables.tf
  modules/core_cluster/cert-manager.tf
  terragrunt/test/cluster/bootstrap_final/terragrunt.hcl
  terragrunt/test/cluster/bootstrap_init/terragrunt.hcl
Due: pipelines/clusters-core/cd-management.yml, pipelines/clusters-core/cd-redcliff.yml, pipelines/clusters-core/cd-test.yml, pipelines/clusters-core/ci-management.yml, pipelines/clusters-core/ci-redcliff.yml, pipelines/clusters-core/ci-test.yml

Added longhorn local storage class for local storage to be restricted to storage capable nodes
  modules/cluster/bootstrap_init/longhorn.tf
Due: none

Renamed modules folder to terraform, however have kept legacy modules folder during migration
  modules/core_cluster/data.tf
  modules/core_cluster/postgres.tf
  terraform/cluster/bootstrap_final/certs.tf
  terraform/cluster/bootstrap_final/data.tf
  terraform/cluster/bootstrap_final/infisical.tf
  terraform/cluster/bootstrap_final/ingress.tf
  terraform/cluster/bootstrap_final/variables.tf
  terraform/cluster/bootstrap_init/cert-manager.tf
  terraform/cluster/bootstrap_init/cilium.tf
  terraform/cluster/bootstrap_init/data.tf
  terraform/cluster/bootstrap_init/etcd-bucket.tf
  terraform/cluster/bootstrap_init/longhorn.tf
  terraform/cluster/bootstrap_init/monitoring.tf
  terraform/cluster/bootstrap_init/templates/monitoring_values.yaml
  terraform/cluster/bootstrap_init/templates/traefik_values.yaml
  terraform/cluster/bootstrap_init/traefik.tf
  terraform/cluster/bootstrap_init/variables.tf
  terraform/cluster/talos_cluster/cilium.tf
  terraform/cluster/talos_cluster/cilium_values.yaml
  terraform/cluster/talos_cluster/control-plane.tf
  terraform/cluster/talos_cluster/installer.tf
  terraform/cluster/talos_cluster/main.tf
  terraform/cluster/talos_cluster/patches/control-plane.yml
  terraform/cluster/talos_cluster/patches/longhorn-volume.yml
  terraform/cluster/talos_cluster/patches/longhorn.yml
  terraform/cluster/talos_cluster/patches/main.yml
  terraform/cluster/talos_cluster/patches/node_specific/network.yml.tmpl
  terraform/cluster/talos_cluster/providers.tf
  terraform/cluster/talos_cluster/secrets.tf
  terraform/cluster/talos_cluster/variables.tf
  terraform/versions.tf
  terragrunt/root.hcl
  terragrunt/test/cluster/bootstrap_final/terragrunt.hcl
  terragrunt/test/cluster/bootstrap_init/terragrunt.hcl
  terragrunt/test/cluster/talos/terragrunt.hcl
Due: pipelines/clusters-core/cd-management.yml, pipelines/clusters-core/cd-redcliff.yml, pipelines/clusters-core/cd-test.yml, pipelines/clusters-core/ci-management.yml, pipelines/clusters-core/ci-redcliff.yml, pipelines/clusters-core/ci-test.yml

Made the talos cluster module modular and simplified machine config
  terraform/cluster/talos_cluster/control-plane.tf
  terraform/cluster/talos_cluster/machine.tf
  terraform/cluster/talos_cluster/main.tf
  terraform/cluster/talos_cluster/patches/longhorn-volume.yml
  terraform/cluster/talos_cluster/patches/longhorn.yml
  terraform/cluster/talos_cluster/providers.tf
  terraform/cluster/talos_cluster/variables.tf
  terragrunt/test/cluster/talos/terragrunt.hcl
Due: none

Moved network patches into same patch folder, since going to use templates more
  terraform/cluster/talos_cluster/machine.tf
  terraform/cluster/talos_cluster/patches/network.yml.tftpl
Due: none

Added support for specifying what nodes longhorn deploys to
  terraform/cluster/bootstrap_init/longhorn.tf
  terraform/cluster/talos_cluster/machine.tf
  terraform/cluster/talos_cluster/patches/main.yml.tftpl
Due: none

Moved generate kubeconfig secrets into providers folder
  terraform/cluster/talos_cluster/secrets.tf
  terragrunt/root.hcl
Due: none

Moved provider credentials to infisical secret vault rather than being injected in environment variables
  terraform/cluster/talos_cluster/kubernetes_providers.tf
  terraform/providers.tf
  terragrunt/root.hcl
Due: none

Removed example env file since it's not needed anymore
  .env.example
Due: none

Made image schematic generation per node to support different hardware
  terraform/cluster/talos_cluster/installer.tf
  terraform/cluster/talos_cluster/machine.tf
Due: none

Adjusted cilium to use k8s control plan VIP rather than localhost
  terraform/cluster/talos_cluster/cilium.tf
  terraform/cluster/talos_cluster/cilium_values.yaml.tftpl
Due: none

Moved to use a terragrunt stack to make it easier to setup new clusters without rpeating loads of code
  .gitignore
  terraform/cluster/bootstrap_final/terragrunt.hcl
  terraform/cluster/bootstrap_init/terragrunt.hcl
  terraform/cluster/talos_cluster/terragrunt.hcl
  terragrunt/root.hcl
  terragrunt/test/cluster/bootstrap_init/terragrunt.hcl
  terragrunt/test/cluster/env.hcl
  terragrunt/test/cluster/talos/terragrunt.hcl
  terragrunt/test/cluster/terragrunt.stack.hcl
Due: none

Automated formatting
  terraform/cluster/bootstrap_final/terragrunt.hcl
  terraform/cluster/bootstrap_init/terragrunt.hcl
  terraform/cluster/talos_cluster/terragrunt.hcl
  terragrunt/root.hcl
  terragrunt/test/cluster/terragrunt.stack.hcl
Due: none

Rename "talos" to "talos_cluster" in dependencies and stack configuration for consistency
  terraform/cluster/bootstrap_final/terragrunt.hcl
  terraform/cluster/bootstrap_init/terragrunt.hcl
  terragrunt/test/cluster/terragrunt.stack.hcl
Due: none

Added proxmox configs
  terraform/versions.tf
  terragrunt/root.hcl
Due: none

Refactored env.hcl locals
  terraform/cluster/bootstrap_init/terragrunt.hcl
  terraform/cluster/talos_cluster/terragrunt.hcl
  terragrunt/test/cluster/env.hcl
Due: none

Created new module to automatically create the test cluster nodes. Move test cluster to dedicated subnet. Improved health checks to prevent race condtion failures.
  terraform/cluster/talos_cluster/machine.tf
  terraform/cluster/talos_cluster/main.tf
  terraform/cluster/talos_cluster/patches/longhorn.yml
  terraform/cluster/talos_cluster/patches/network.yml.tftpl
  terraform/cluster/talos_cluster/terragrunt.hcl
  terraform/cluster/talos_cluster/variables.tf
  terraform/cluster/test_talos_nodes/images.tf
  terraform/cluster/test_talos_nodes/kubernetes_providers.tf
  terraform/cluster/test_talos_nodes/locals.tf
  terraform/cluster/test_talos_nodes/main.tf
  terraform/cluster/test_talos_nodes/terragrunt.hcl
  terragrunt/root.hcl
  terragrunt/test/cluster/env.hcl
  terragrunt/test/cluster/terragrunt.stack.hcl
Due: none

Upped the ram and most 1 node go on another proxmox host
  terraform/cluster/test_talos_nodes/images.tf
  terraform/cluster/test_talos_nodes/locals.tf
  terraform/cluster/test_talos_nodes/main.tf
Due: none

Moved env file up in tree
  terragrunt/test/env.hcl
Due: none

Deleted what's left of old core_cluster module
  modules/core_cluster/README.md
  modules/core_cluster/data.tf
  modules/core_cluster/external-secrets.tf
  modules/core_cluster/postgres.tf
  modules/core_cluster/variables.tf
  terraform/applications/postgresql/terragrunt.hcl
Due: pipelines/clusters-core/cd-management.yml, pipelines/clusters-core/cd-redcliff.yml, pipelines/clusters-core/cd-test.yml, pipelines/clusters-core/ci-management.yml, pipelines/clusters-core/ci-redcliff.yml, pipelines/clusters-core/ci-test.yml

Made decent start on a centralised postgresql database cluster
  terraform/applications/cnpg/main.tf
  terraform/applications/cnpg/terragrunt.hcl
  terraform/applications/postgresql/data.tf
  terraform/applications/postgresql/main.tf
  terraform/applications/postgresql/minio.tf
  terraform/applications/postgresql/variables.tf
  terraform/cluster/bootstrap_init/longhorn.tf
  terragrunt/test/applications/terragrunt.stack.hcl
  terragrunt/test/env.hcl
Due: none

Disable Renovate bot by setting enabled to false
  renovate.json
Due: none

Made it possible to dynamically provision databases. Also made very minimal start on authentik
  terraform/applications/authentik/main.tf
  terraform/applications/authentik/terragrunt.hcl
  terraform/applications/postgresql/database/README.md
  terraform/applications/postgresql/database/main.tf
  terraform/applications/postgresql/database/variables.tf
  terraform/applications/postgresql/main.tf
  terraform/applications/postgresql/terragrunt.hcl
  terraform/applications/postgresql/variables.tf
  terragrunt/test/applications/terragrunt.stack.hcl
Due: none

Updated readme
  terraform/applications/postgresql/database/README.md
Due: none

Added login attribute for managed role
  terraform/applications/postgresql/main.tf
Due: none

Migrated gateway module into new terragrunt structure and added to test cluster.
  applications/modules/gateway/pass_through_ingress/versions.tf
  applications/modules/gateway/variables.tf
  applications/modules/gateway/versions.tf
  terraform/applications/gateway/README.md
  terraform/applications/gateway/aovpn.tf
  terraform/applications/gateway/data.tf
  terraform/applications/gateway/main.tf
  terraform/applications/gateway/management.tf
  terraform/applications/gateway/minio.tf
  terraform/applications/gateway/pass_through_ingress/main.tf
  terraform/applications/gateway/pass_through_ingress/variables.tf
  terraform/applications/gateway/terragrunt.hcl
  terragrunt/test/applications/terragrunt.stack.hcl
Due: pipelines/applications/cd-management.yml, pipelines/applications/cd-redcliff.yml, pipelines/applications/cd-test.yml, pipelines/applications/ci-applications.yml, pipelines/applications/ci-management.yml, pipelines/applications/ci-redcliff.yml, pipelines/applications/ci-test.yml

Path conditions:
  pipelines/applications/cd-management.yml: any of: applications/clusters/management, applications/modules
  pipelines/applications/cd-observability.yml: any of: applications/observability
  pipelines/applications/cd-rancher.yml: any of: applications/rancher
  pipelines/applications/cd-redcliff.yml: any of: applications/clusters/redcliff, applications/modules
  pipelines/applications/cd-test.yml: any of: applications/clusters/test, applications/modules
  pipelines/applications/ci-applications.yml: any of: applications/modules, applications/clusters, applications/observability
  pipelines/applications/ci-management.yml: any of: applications/clusters/management, applications/modules
  pipelines/applications/ci-observability.yml: any of: applications/observability
  pipelines/applications/ci-rancher.yml: any of: applications/rancher
  pipelines/applications/ci-redcliff.yml: any of: applications/clusters/redcliff, applications/modules
  pipelines/applications/ci-test.yml: any of: applications/clusters/test, applications/modules
  pipelines/clusters-core/cd-management.yml: any of: clusters/management/core, modules/core_cluster
  pipelines/clusters-core/cd-redcliff.yml: any of: clusters/redcliff/core, modules/core_cluster
  pipelines/clusters-core/cd-test.yml: any of: clusters/test/core, modules/core_cluster
  pipelines/clusters-core/ci-management.yml: any of: clusters/management, modules/core_cluster
  pipelines/clusters-core/ci-redcliff.yml: any of: clusters/redcliff/core, modules/core_cluster
  pipelines/clusters-core/ci-test.yml: any of: clusters/test/core, modules/core_cluster
  pipelines/provisioning.yml: any of: pipelines
