Repository rhysj6/homelab: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/applications/cd-management.yml, pipelines/applications/cd-observability.yml, pipelines/applications/cd-rancher.yml, pipelines/applications/cd-redcliff.yml, pipelines/applications/cd-test.yml, pipelines/applications/ci-applications.yml, pipelines/applications/ci-management.yml, pipelines/applications/ci-observability.yml, pipelines/applications/ci-rancher.yml, pipelines/applications/ci-redcliff.yml, pipelines/applications/ci-test.yml, pipelines/clusters-core/cd-management.yml, pipelines/clusters-core/cd-redcliff.yml, pipelines/clusters-core/cd-test.yml, pipelines/clusters-core/ci-management.yml, pipelines/clusters-core/ci-redcliff.yml, pipelines/clusters-core/ci-test.yml, pipelines/provisioning.yml

Path conditions:
  pipelines/applications/cd-management.yml: any of: applications/clusters/management, applications/modules
  pipelines/applications/cd-observability.yml: any of: applications/observability
  pipelines/applications/cd-rancher.yml: any of: applications/rancher
  pipelines/applications/cd-redcliff.yml: any of: applications/clusters/redcliff, applications/modules
  pipelines/applications/cd-test.yml: any of: applications/clusters/test, applications/modules
  pipelines/applications/ci-applications.yml: any of: applications/modules, applications/clusters, applications/observability
  pipelines/applications/ci-management.yml: any of: applications/clusters/management, applications/modules
  pipelines/applications/ci-observability.yml: any of: applications/observability
  pipelines/applications/ci-rancher.yml: any of: applications/rancher
  pipelines/applications/ci-redcliff.yml: any of: applications/clusters/redcliff, applications/modules
  pipelines/applications/ci-test.yml: any of: applications/clusters/test, applications/modules
  pipelines/clusters-core/cd-management.yml: any of: clusters/management/core, modules/core_cluster
  pipelines/clusters-core/cd-redcliff.yml: any of: clusters/redcliff/core, modules/core_cluster
  pipelines/clusters-core/cd-test.yml: any of: clusters/test/core, modules/core_cluster
  pipelines/clusters-core/ci-management.yml: any of: clusters/management, modules/core_cluster
  pipelines/clusters-core/ci-redcliff.yml: any of: clusters/redcliff/core, modules/core_cluster
  pipelines/clusters-core/ci-test.yml: any of: clusters/test/core, modules/core_cluster
  pipelines/provisioning.yml: any of: pipelines

Updated dev container to ubuntu
  .devcontainer/devcontainer.json
Due: none

Removed kubeseal feature
  .devcontainer/devcontainer.json
Due: none

Add Python-related extensions and settings to dev container configuration
  .devcontainer/devcontainer.json
Due: none

Add custom setup script for Python virtual environment in dev container
  .devcontainer/custom.sh
  .devcontainer/devcontainer.json
Due: none

Fixed Initial setup jenkins file
  ansible/linux/InitialSetup.Jenkinsfile
Due: none

Moved pipeline to use new private repo for inventory
  ansible/linux/InitialSetup.Jenkinsfile
Due: none

Removed old inventory file
  ansible/linux/inventory.ini
Due: none

Removed dnsmasq config as it has vbeen moved to the router
  applications/modules/pihole/dnsmasq.conf
  applications/modules/pihole/main.tf
Due: pipelines/applications/cd-management.yml, pipelines/applications/cd-redcliff.yml, pipelines/applications/cd-test.yml, pipelines/applications/ci-applications.yml, pipelines/applications/ci-management.yml, pipelines/applications/ci-redcliff.yml, pipelines/applications/ci-test.yml

Removed unused infisical module
  applications/modules/semaphore/data.tf
  applications/modules/semaphore/main.tf
  applications/modules/semaphore/readme.md
  applications/modules/semaphore/variables.tf
  applications/modules/semaphore/versions.tf
Due: pipelines/applications/cd-management.yml, pipelines/applications/cd-redcliff.yml, pipelines/applications/cd-test.yml, pipelines/applications/ci-applications.yml, pipelines/applications/ci-management.yml, pipelines/applications/ci-redcliff.yml, pipelines/applications/ci-test.yml

Updated to terraform rancher provider 8.0.0
  modules/downstream_cluster/versions.tf
Due: none

Updated rancher provider
  clusters/test/cluster/.terraform.lock.hcl
  clusters/test/cluster/providers.tf
Due: none

Updated core cluster to 1.33.3
  modules/downstream_cluster/main.tf
Due: none

Updated rancher provider
  clusters/redcliff/cluster/.terraform.lock.hcl
  clusters/redcliff/cluster/providers.tf
Due: none

Moved to pinned version number for kubernetes provider
  applications/clusters/management/providers.tf
  applications/clusters/redcliff/providers.tf
  applications/clusters/test/providers.tf
  applications/modules/authentik/app/versions.tf
  applications/modules/gateway/pass_through_ingress/versions.tf
  applications/modules/gateway/versions.tf
  applications/modules/infisical/versions.tf
  applications/modules/jenkins/versions.tf
  applications/modules/pihole/versions.tf
  applications/observability/providers.tf
  applications/rancher/providers.tf
  clusters/management/core/providers.tf
  clusters/redcliff/core/providers.tf
  clusters/test/core/providers.tf
  modules/core_cluster/versions.tf
  modules/postgres_cluster/versions.tf
Due: pipelines/applications/cd-management.yml, pipelines/applications/cd-observability.yml, pipelines/applications/cd-rancher.yml, pipelines/applications/cd-redcliff.yml, pipelines/applications/cd-test.yml, pipelines/applications/ci-applications.yml, pipelines/applications/ci-management.yml, pipelines/applications/ci-observability.yml, pipelines/applications/ci-rancher.yml, pipelines/applications/ci-redcliff.yml, pipelines/applications/ci-test.yml, pipelines/clusters-core/cd-management.yml, pipelines/clusters-core/cd-redcliff.yml, pipelines/clusters-core/cd-test.yml, pipelines/clusters-core/ci-management.yml, pipelines/clusters-core/ci-redcliff.yml, pipelines/clusters-core/ci-test.yml

Pinned remaining helm providers to 3.0.2
  applications/modules/authentik/app/versions.tf
  applications/modules/infisical/versions.tf
  applications/modules/jenkins/versions.tf
  applications/observability/providers.tf
Due: pipelines/applications/cd-management.yml, pipelines/applications/cd-observability.yml, pipelines/applications/cd-redcliff.yml, pipelines/applications/cd-test.yml, pipelines/applications/ci-applications.yml, pipelines/applications/ci-management.yml, pipelines/applications/ci-observability.yml, pipelines/applications/ci-redcliff.yml, pipelines/applications/ci-test.yml

Removed terraform lock files since versions are now all locked
  applications/clusters/management/.terraform.lock.hcl
  applications/clusters/redcliff/.terraform.lock.hcl
  applications/clusters/test/.terraform.lock.hcl
  applications/configs/production/.terraform.lock.hcl
  applications/observability/.terraform.lock.hcl
  applications/rancher/.terraform.lock.hcl
  clusters/management/core/.terraform.lock.hcl
  clusters/redcliff/cluster/.terraform.lock.hcl
  clusters/redcliff/core/.terraform.lock.hcl
  clusters/test/cluster/.terraform.lock.hcl
  clusters/test/core/.terraform.lock.hcl
  pipelines/module/.terraform.lock.hcl
Due: pipelines/applications/cd-management.yml, pipelines/applications/cd-observability.yml, pipelines/applications/cd-rancher.yml, pipelines/applications/cd-redcliff.yml, pipelines/applications/cd-test.yml, pipelines/applications/ci-applications.yml, pipelines/applications/ci-management.yml, pipelines/applications/ci-observability.yml, pipelines/applications/ci-rancher.yml, pipelines/applications/ci-redcliff.yml, pipelines/applications/ci-test.yml, pipelines/clusters-core/cd-management.yml, pipelines/clusters-core/cd-redcliff.yml, pipelines/clusters-core/cd-test.yml, pipelines/clusters-core/ci-management.yml, pipelines/clusters-core/ci-redcliff.yml, pipelines/clusters-core/ci-test.yml, pipelines/provisioning.yml

Added terraform lock files to git ignore
  .gitignore
Due: none

Updated to rancher kubeconfig to 1.1.0
  clusters/test/core/providers.tf
Due: pipelines/clusters-core/cd-test.yml, pipelines/clusters-core/ci-test.yml

Updated to 5.9.0
  clusters/test/core/providers.tf
Due: pipelines/clusters-core/cd-test.yml, pipelines/clusters-core/ci-test.yml

Updated cloudflare to 3.6.5
  clusters/test/core/providers.tf
Due: pipelines/clusters-core/cd-test.yml, pipelines/clusters-core/ci-test.yml

Add environment variable to allow internal IP connections in Infisical deployment
  applications/modules/infisical/main.tf
Due: pipelines/applications/cd-management.yml, pipelines/applications/cd-redcliff.yml, pipelines/applications/cd-test.yml, pipelines/applications/ci-applications.yml, pipelines/applications/ci-management.yml, pipelines/applications/ci-redcliff.yml, pipelines/applications/ci-test.yml

Added ansible extension to devcontainer.json
  .devcontainer/devcontainer.json
Due: none

Moved all vars to directory
  ansible/linux/group_vars/all/vars.yml
Due: none

Created basic vault creation playbook
  ansible/linux/configure_vault.yml
  ansible/linux/group_vars/all/vault
  ansible/linux/roles/ansible_vault/tasks/main.yml
  ansible/linux/roles/ansible_vault/templates/vault.j2
Due: none

Add .lock to .gitignore to prevent tracking of lock files
  .gitignore
Due: none

Add README for ansible_vault role
  ansible/linux/roles/ansible_vault/README.md
Due: none

Added minio root pw to vault
  ansible/linux/group_vars/all/vault
  ansible/linux/roles/ansible_vault/tasks/main.yml
  ansible/linux/roles/ansible_vault/templates/vault.j2
Due: none

Added proxmox dependencies
  ansible/requirements.txt
  ansible/requirements.yml
Due: none

Updated vault with proxmox creds
  ansible/linux/group_vars/all/vars.yml
  ansible/linux/group_vars/all/vault
  ansible/linux/roles/ansible_vault/tasks/main.yml
  ansible/linux/roles/ansible_vault/templates/vault.j2
Due: none

Updated dynamic vault to work simpler
  ansible/linux/group_vars/all/vault
  ansible/linux/roles/ansible_vault/tasks/main.yml
  ansible/linux/roles/ansible_vault/templates/vault.j2
Due: none

Moved to use playbooks folder
  ansible/linux/InitialSetup.Jenkinsfile
  ansible/linux/playbooks/configure_vault.yml
  ansible/linux/playbooks/initial_setup.yml
Due: none

Reverted : Move to use playbooks folder
  ansible/linux/InitialSetup.Jenkinsfile
  ansible/linux/configure_vault.yml
  ansible/linux/initial_setup.yml
Due: none

Updated vault
  ansible/linux/group_vars/all/vault
Due: none

Fixed initial setup issues
  ansible/linux/initial_setup.yml
  ansible/linux/roles/grafana_alloy/tasks/main.yml
Due: none

Fixed initial setup issues
  ansible/linux/initial_setup.yml
Due: none

Created playbook to spin up minio instances from scratch
  ansible/linux/group_vars/all/vars.yml
  ansible/linux/minio.yml
  ansible/linux/roles/minio/handlers/main.yml
  ansible/linux/roles/minio/tasks/data_drive.yml
  ansible/linux/roles/minio/tasks/main.yml
  ansible/linux/roles/minio/tasks/minio_client.yml
  ansible/linux/roles/minio/tasks/minio_server.yml
  ansible/linux/roles/minio/tasks/user_group.yml
  ansible/linux/roles/minio/templates/minio.j2
  ansible/linux/roles/minio/vars/main.yml
  ansible/linux/roles/minio_vm/tasks/main.yml
  ansible/linux/roles/minio_vm/tasks/network.yml
  ansible/linux/roles/minio_vm/tasks/startup.yml
  ansible/linux/roles/minio_vm/tasks/storage.yml
  ansible/linux/roles/minio_vm/tasks/vm.yml
Due: none

Removed usage of vault since I can always just edit the groupvars in the event of a disaster
  ansible/linux/group_vars/all.yml
  ansible/linux/group_vars/all/vars.yml
  ansible/linux/group_vars/all/vault
Due: none

Removed configure vault playbook and role
  ansible/linux/configure_vault.yml
  ansible/linux/roles/ansible_vault/README.md
  ansible/linux/roles/ansible_vault/tasks/main.yml
  ansible/linux/roles/ansible_vault/templates/vault.j2
Due: none

Added alias config
  ansible/linux/group_vars/minio.yml
  ansible/linux/roles/minio/tasks/configure_client.yml
  ansible/linux/roles/minio/tasks/install_client.yml
  ansible/linux/roles/minio/tasks/main.yml
  ansible/linux/roles/minio/tasks/minio_server.yml
Due: none
