Repository rhysj6/homelab: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/applications/cd-management.yml, pipelines/applications/cd-observability.yml, pipelines/applications/cd-rancher.yml, pipelines/applications/cd-redcliff.yml, pipelines/applications/cd-test.yml, pipelines/applications/ci-applications.yml, pipelines/applications/ci-management.yml, pipelines/applications/ci-observability.yml, pipelines/applications/ci-rancher.yml, pipelines/applications/ci-redcliff.yml, pipelines/applications/ci-test.yml, pipelines/clusters-core/cd-management.yml, pipelines/clusters-core/cd-redcliff.yml, pipelines/clusters-core/cd-test.yml, pipelines/clusters-core/ci-management.yml, pipelines/clusters-core/ci-redcliff.yml, pipelines/clusters-core/ci-test.yml, pipelines/provisioning.yml

pipelines/applications/cd-management.yml:
  extends:
    template: ../templates/apply-module.yml
    parameters:
      moduleName: Management - Applications
      modulePath: applications/clusters/management

pipelines/applications/cd-observability.yml:
  extends:
    template: ../templates/apply-module.yml
    parameters:
      moduleName: Observability stack
      modulePath: applications/observability

pipelines/applications/cd-rancher.yml:
  extends:
    template: ../templates/apply-module.yml
    parameters:
      moduleName: Rancher
      modulePath: applications/rancher
      kubeConfigSecureFile: management-kubeconfig

pipelines/applications/cd-redcliff.yml:
  extends:
    template: ../templates/apply-module.yml
    parameters:
      moduleName: Redcliff - Applications
      modulePath: applications/clusters/redcliff

pipelines/applications/cd-test.yml:
  extends:
    template: ../templates/apply-module.yml
    parameters:
      moduleName: Test - Applications
      environment: test
      modulePath: applications/clusters/test

pipelines/applications/ci-applications.yml:
  pool: Self hosted
  stages:
  - stage: ModuleChangeDetection
    displayName: Application cluster change detection
    variables:
    - group: terraform
    jobs:
    - job: ModulePlan
      strategy:
        matrix:
          Test:
            MODULE_NAME: test
            MODULE_PATH: applications/clusters/test
  ...

pipelines/applications/ci-management.yml:
  pool: Self hosted
  stages:
  - stage: ManagementModuleChangeDetection
    displayName: Management module change detection
    variables:
    - group: terraform
    jobs:
    - template: ../templates/module-change-detection.yml
      parameters:
        moduleName: Management - Applications
  ...

pipelines/applications/ci-observability.yml:
  pool: Self hosted
  stages:
  - stage: ObservabilityModuleChangeDetection
    displayName: Observability module change detection
    variables:
    - group: terraform
    jobs:
    - template: ../templates/module-change-detection.yml
      parameters:
        moduleName: Observability stack
  ...

pipelines/applications/ci-rancher.yml:
  pool: Self hosted
  stages:
  - stage: RancherModuleChangeDetection
    displayName: Rancher module change detection
    variables:
    - group: terraform
    jobs:
    - template: ../templates/module-change-detection.yml
      parameters:
        moduleName: Rancher
        modulePath: applications/rancher
  ...

pipelines/applications/ci-redcliff.yml:
  pool: Self hosted
  stages:
  - stage: RedcliffModuleChangeDetection
    displayName: Redcliff module change detection
    variables:
    - group: terraform
    jobs:
    - template: ../templates/module-change-detection.yml
      parameters:
        moduleName: Redcliff - Applications
  ...

pipelines/clusters-core/cd-redcliff.yml:
  extends:
    template: ../templates/apply-module.yml
    parameters:
      moduleName: redcliff
      environment: redcliff
      modulePath: clusters/redcliff/core

Added site replication
  ansible/linux/roles/minio/tasks/configure_replication.yml
  ansible/linux/roles/minio/tasks/main.yml
Due: none

Corrected provider version
  clusters/test/cluster/providers.tf
Due: none

Updated ingresses
  applications/modules/gateway/minio.tf
Due: pipelines/applications/cd-management.yml, pipelines/applications/cd-redcliff.yml, pipelines/applications/cd-test.yml, pipelines/applications/ci-applications.yml, pipelines/applications/ci-management.yml, pipelines/applications/ci-redcliff.yml, pipelines/applications/ci-test.yml

C
  ansible/linux/initial_setup.yml
  ansible/linux/roles/trusted_ca/handlers/main.yml
  ansible/linux/roles/trusted_ca/tasks/main.yml
  ansible/linux/roles/trusted_ca/vars/main.yml
Due: none

Corrected file extension path for trusted_ca role
  ansible/linux/roles/trusted_ca/tasks/main.yml
Due: none

Added CA signed certs for minio instances
  ansible/linux/roles/minio/tasks/configure_client.yml
  ansible/linux/roles/minio/tasks/main.yml
  ansible/linux/roles/minio/tasks/tls.yml
  ansible/linux/roles/minio/vars/main.yml
Due: none

Updated minio to use https downstream, removed console ingress for security
  applications/modules/gateway/minio.tf
Due: pipelines/applications/cd-management.yml, pipelines/applications/cd-redcliff.yml, pipelines/applications/cd-test.yml, pipelines/applications/ci-applications.yml, pipelines/applications/ci-management.yml, pipelines/applications/ci-redcliff.yml, pipelines/applications/ci-test.yml

Corrected some bugs that weren't appearing for pre-existing vms
  ansible/linux/roles/minio/tasks/minio_server.yml
  ansible/linux/roles/minio/tasks/tls.yml
Due: none

Added minio-3 an offsite vm
  ansible/linux/group_vars/all.yml
  ansible/linux/group_vars/minio.yml
  ansible/linux/minio.yml
Due: none

Added become true to qemu install
  ansible/linux/initial_setup.yml
Due: none

Added trusted_ca role to minio to ensure it's always added.
  ansible/linux/roles/minio/tasks/main.yml
Due: none

Removed deprecated config option
  applications/modules/jenkins/values/auth.yaml
Due: pipelines/applications/cd-management.yml, pipelines/applications/cd-redcliff.yml, pipelines/applications/cd-test.yml, pipelines/applications/ci-applications.yml, pipelines/applications/ci-management.yml, pipelines/applications/ci-redcliff.yml, pipelines/applications/ci-test.yml

Moved to use root ca rather than a subordinate one
  ansible/linux/roles/trusted_ca/tasks/main.yml
  ansible/linux/roles/trusted_ca/vars/main.yml
Due: none

Simplified client config for speed
  ansible/linux/roles/minio/tasks/configure_client.yml
Due: none

Moved trusted CA role to beginning of role.
  ansible/linux/roles/minio/tasks/main.yml
Due: none

Fixed cert and made it include full CA chain
  ansible/linux/roles/minio/tasks/tls.yml
  ansible/linux/roles/minio/vars/main.yml
Due: none

Removed root ca cert as it's now included in sub ca chain
  ansible/linux/roles/minio/tasks/tls.yml
  ansible/linux/roles/minio/vars/main.yml
Due: none

Added extra dependencies for opnsense
  ansible/requirements.txt
  ansible/requirements.yml
Due: none

Updated rancher2 provider to 8.1.0
  clusters/test/cluster/providers.tf
Due: none

Updated kubernetes version
  modules/downstream_cluster/main.tf
Due: none

Made general start on central postgresql db
  applications/postgresql/main.tf
  applications/postgresql/minio.tf
  applications/postgresql/providers.tf
  applications/postgresql/storage-class.tf
  applications/postgresql/variables.tf
Due: none

Made start on implementing infisical use for cert management
  clusters/test/core/providers.tf
  modules/core_cluster/cert-manager.tf
  modules/core_cluster/data.tf
  modules/core_cluster/external-secrets.tf
  modules/core_cluster/infisical.tf
  modules/core_cluster/versions.tf
Due: pipelines/clusters-core/cd-management.yml, pipelines/clusters-core/cd-redcliff.yml, pipelines/clusters-core/cd-test.yml, pipelines/clusters-core/ci-management.yml, pipelines/clusters-core/ci-redcliff.yml, pipelines/clusters-core/ci-test.yml

Updated to use new namespace for opnsense collection
  ansible/requirements.yml
Due: none

Making a start using talos linux on test cluster
  clusters/test/core/cilium.tf
  clusters/test/core/cilium_values.yaml
  clusters/test/core/main.tf
  talos/test/control-plane.tf
  talos/test/locals.tf
  talos/test/main.tf
  talos/test/patches/longhorn.yml
  talos/test/patches/main.yml
  talos/test/patches/node_specific/network.yml.tmpl
  talos/test/providers.tf
Due: pipelines/clusters-core/cd-test.yml, pipelines/clusters-core/ci-test.yml

Updated cilium values to work with talos
  clusters/test/core/cilium_values.yaml
Due: pipelines/clusters-core/cd-test.yml, pipelines/clusters-core/ci-test.yml

Disabled kube prism, may re-enable later
  talos/test/patches/main.yml
Due: none

Fixed some incorrect conditionals
  modules/core_cluster/traefik.tf
Due: pipelines/clusters-core/cd-management.yml, pipelines/clusters-core/cd-redcliff.yml, pipelines/clusters-core/cd-test.yml, pipelines/clusters-core/ci-management.yml, pipelines/clusters-core/ci-redcliff.yml, pipelines/clusters-core/ci-test.yml

Added back in rest of core module
  clusters/test/core/main.tf
Due: pipelines/clusters-core/cd-test.yml, pipelines/clusters-core/ci-test.yml

Added extra security permissions for longhorn namespace
  modules/core_cluster/longhorn.tf
Due: pipelines/clusters-core/cd-management.yml, pipelines/clusters-core/cd-redcliff.yml, pipelines/clusters-core/cd-test.yml, pipelines/clusters-core/ci-management.yml, pipelines/clusters-core/ci-redcliff.yml, pipelines/clusters-core/ci-test.yml

Readded health check now that cillium is working again
  talos/test/main.tf
Due: none

Removed old rancher cluster config
  clusters/test/cluster/main.tf
  clusters/test/cluster/providers.tf
Due: none

Moved test talos cluster into clusters folder
  clusters/test/cluster/control-plane.tf
  clusters/test/cluster/locals.tf
  clusters/test/cluster/main.tf
  clusters/test/cluster/patches/longhorn.yml
  clusters/test/cluster/patches/main.yml
  clusters/test/cluster/patches/node_specific/network.yml.tmpl
  clusters/test/cluster/providers.tf
Due: none

Added load balancer support for control plane nodes
  clusters/test/cluster/patches/control-plane.yml
Due: none

Added custom installer image
  clusters/test/cluster/control-plane.tf
  clusters/test/cluster/installer.tf
Due: none

Managed to get static IP config working
  clusters/test/cluster/patches/node_specific/network.yml.tmpl
Due: none

Removed commented out code
  clusters/test/cluster/patches/longhorn.yml
Due: none

Moved patches to merge rather than json patch for readability
  clusters/test/cluster/patches/longhorn.yml
  clusters/test/cluster/patches/main.yml
Due: none

Added virtual IP for control plane support
  clusters/test/cluster/control-plane.tf
  clusters/test/cluster/locals.tf
  clusters/test/cluster/patches/node_specific/network.yml.tmpl
Due: none

Created dedicated user volume for longhorn so it should persist upgrades
  clusters/test/cluster/patches/longhorn-volume.yml
  clusters/test/cluster/patches/longhorn.yml
  modules/core_cluster/longhorn.tf
Due: pipelines/clusters-core/cd-management.yml, pipelines/clusters-core/cd-redcliff.yml, pipelines/clusters-core/cd-test.yml, pipelines/clusters-core/ci-management.yml, pipelines/clusters-core/ci-redcliff.yml, pipelines/clusters-core/ci-test.yml

Moved cilium into cluster resource and made it depend on kubeconfig resource
  clusters/test/cluster/cilium.tf
  clusters/test/cluster/cilium_values.yaml
Due: none

Path conditions:
  pipelines/applications/cd-management.yml: any of: applications/clusters/management, applications/modules
  pipelines/applications/cd-observability.yml: any of: applications/observability
  pipelines/applications/cd-rancher.yml: any of: applications/rancher
  pipelines/applications/cd-redcliff.yml: any of: applications/clusters/redcliff, applications/modules
  pipelines/applications/cd-test.yml: any of: applications/clusters/test, applications/modules
  pipelines/applications/ci-applications.yml: any of: applications/modules, applications/clusters, applications/observability
  pipelines/applications/ci-management.yml: any of: applications/clusters/management, applications/modules
  pipelines/applications/ci-observability.yml: any of: applications/observability
  pipelines/applications/ci-rancher.yml: any of: applications/rancher
  pipelines/applications/ci-redcliff.yml: any of: applications/clusters/redcliff, applications/modules
  pipelines/applications/ci-test.yml: any of: applications/clusters/test, applications/modules
  pipelines/clusters-core/cd-management.yml: any of: clusters/management/core, modules/core_cluster
  pipelines/clusters-core/cd-redcliff.yml: any of: clusters/redcliff/core, modules/core_cluster
  pipelines/clusters-core/cd-test.yml: any of: clusters/test/core, modules/core_cluster
  pipelines/clusters-core/ci-management.yml: any of: clusters/management, modules/core_cluster
  pipelines/clusters-core/ci-redcliff.yml: any of: clusters/redcliff/core, modules/core_cluster
  pipelines/clusters-core/ci-test.yml: any of: clusters/test/core, modules/core_cluster
  pipelines/provisioning.yml: any of: pipelines
