Repository rhysj6/homelab: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/applications/cd-management.yml, pipelines/applications/cd-observability.yml, pipelines/applications/cd-rancher.yml, pipelines/applications/cd-redcliff.yml, pipelines/applications/cd-test.yml, pipelines/applications/ci-applications.yml, pipelines/applications/ci-management.yml, pipelines/applications/ci-observability.yml, pipelines/applications/ci-rancher.yml, pipelines/applications/ci-redcliff.yml, pipelines/applications/ci-test.yml, pipelines/clusters-core/cd-management.yml, pipelines/clusters-core/cd-redcliff.yml, pipelines/clusters-core/cd-test.yml, pipelines/clusters-core/ci-management.yml, pipelines/clusters-core/ci-redcliff.yml, pipelines/clusters-core/ci-test.yml, pipelines/provisioning.yml

Path conditions:
  pipelines/applications/cd-management.yml: any of: applications/clusters/management, applications/modules
  pipelines/applications/cd-observability.yml: any of: applications/observability
  pipelines/applications/cd-rancher.yml: any of: applications/rancher
  pipelines/applications/cd-redcliff.yml: any of: applications/clusters/redcliff, applications/modules
  pipelines/applications/cd-test.yml: any of: applications/clusters/test, applications/modules
  pipelines/applications/ci-applications.yml: any of: applications/modules, applications/clusters, applications/observability
  pipelines/applications/ci-management.yml: any of: applications/clusters/management, applications/modules
  pipelines/applications/ci-observability.yml: any of: applications/observability
  pipelines/applications/ci-rancher.yml: any of: applications/rancher
  pipelines/applications/ci-redcliff.yml: any of: applications/clusters/redcliff, applications/modules
  pipelines/applications/ci-test.yml: any of: applications/clusters/test, applications/modules
  pipelines/clusters-core/cd-management.yml: any of: clusters/management/core, modules/core_cluster
  pipelines/clusters-core/cd-redcliff.yml: any of: clusters/redcliff/core, modules/core_cluster
  pipelines/clusters-core/cd-test.yml: any of: clusters/test/core, modules/core_cluster
  pipelines/clusters-core/ci-management.yml: any of: clusters/management, modules/core_cluster
  pipelines/clusters-core/ci-redcliff.yml: any of: clusters/redcliff/core, modules/core_cluster
  pipelines/clusters-core/ci-test.yml: any of: clusters/test/core, modules/core_cluster
  pipelines/provisioning.yml: any of: pipelines

Updated dashboard
  applications/observability/grafana_configs/dashboards/traefik.json
Due: pipelines/applications/cd-observability.yml, pipelines/applications/ci-applications.yml, pipelines/applications/ci-observability.yml

Refactored traefik values to be set in values.yaml file and added additional metrics
  modules/core_cluster/templates/traefik_values.yaml
  modules/core_cluster/traefik.tf
Due: pipelines/clusters-core/cd-management.yml, pipelines/clusters-core/cd-redcliff.yml, pipelines/clusters-core/cd-test.yml, pipelines/clusters-core/ci-management.yml, pipelines/clusters-core/ci-redcliff.yml, pipelines/clusters-core/ci-test.yml

Added authentik monitoring
  applications/modules/authentik/app/main.tf
  applications/observability/grafana_configs/dashboards/authentik.json
Due: pipelines/applications/cd-management.yml, pipelines/applications/cd-observability.yml, pipelines/applications/cd-redcliff.yml, pipelines/applications/cd-test.yml, pipelines/applications/ci-applications.yml, pipelines/applications/ci-management.yml, pipelines/applications/ci-observability.yml, pipelines/applications/ci-redcliff.yml, pipelines/applications/ci-test.yml

Added open telemetry support to alloy
  applications/observability/alloy.tf
  applications/observability/alloy_configs/debug.alloy
  applications/observability/alloy_configs/exporters.alloy
  applications/observability/alloy_configs/otlp.alloy
  applications/observability/alloy_configs/pod_logs.alloy
  applications/observability/templates/alloy_values.yaml
Due: pipelines/applications/cd-observability.yml, pipelines/applications/ci-applications.yml, pipelines/applications/ci-observability.yml

Added github auth
  applications/modules/authentik/config/auth_github.tf
Due: pipelines/applications/cd-management.yml, pipelines/applications/cd-redcliff.yml, pipelines/applications/cd-test.yml, pipelines/applications/ci-applications.yml, pipelines/applications/ci-management.yml, pipelines/applications/ci-redcliff.yml, pipelines/applications/ci-test.yml

Added primary and passwordless authentication flows
  applications/modules/authentik/config/auth_flow.tf
  applications/modules/authentik/config/passwordless_auth_flow.tf
Due: pipelines/applications/cd-management.yml, pipelines/applications/cd-redcliff.yml, pipelines/applications/cd-test.yml, pipelines/applications/ci-applications.yml, pipelines/applications/ci-management.yml, pipelines/applications/ci-redcliff.yml, pipelines/applications/ci-test.yml

Moved clifton to use new flow
  applications/modules/authentik/config/clifton.tf
Due: pipelines/applications/cd-management.yml, pipelines/applications/cd-redcliff.yml, pipelines/applications/cd-test.yml, pipelines/applications/ci-applications.yml, pipelines/applications/ci-management.yml, pipelines/applications/ci-redcliff.yml, pipelines/applications/ci-test.yml

Removed github auth in favour of passkeys
  applications/modules/authentik/config/auth_github.tf
Due: pipelines/applications/cd-management.yml, pipelines/applications/cd-redcliff.yml, pipelines/applications/cd-test.yml, pipelines/applications/ci-applications.yml, pipelines/applications/ci-management.yml, pipelines/applications/ci-redcliff.yml, pipelines/applications/ci-test.yml

Created new module for oauth2 based applications in authentik
  modules/authentik_oauth/data.tf
  modules/authentik_oauth/main.tf
  modules/authentik_oauth/outputs.tf
  modules/authentik_oauth/variables.tf
  modules/authentik_oauth/versions.tf
Due: none

Moved grafana to use new module
  applications/observability/grafana.tf
Due: pipelines/applications/cd-observability.yml, pipelines/applications/ci-applications.yml, pipelines/applications/ci-observability.yml

Adjusted module to make client id randomised for security
  modules/authentik_oauth/main.tf
  modules/authentik_oauth/versions.tf
Due: none

Moved clifton authentik support to module
  applications/modules/authentik/config/clifton.tf
Due: pipelines/applications/cd-management.yml, pipelines/applications/cd-redcliff.yml, pipelines/applications/cd-test.yml, pipelines/applications/ci-applications.yml, pipelines/applications/ci-management.yml, pipelines/applications/ci-redcliff.yml, pipelines/applications/ci-test.yml

Added forward auth domain level provider to authentik
  applications/modules/authentik/config/forward_auth.tf
Due: pipelines/applications/cd-management.yml, pipelines/applications/cd-redcliff.yml, pipelines/applications/cd-test.yml, pipelines/applications/ci-applications.yml, pipelines/applications/ci-management.yml, pipelines/applications/ci-redcliff.yml, pipelines/applications/ci-test.yml

Added middlewares for local only and authentik
  modules/core_cluster/data.tf
  modules/core_cluster/traefik.tf
Due: pipelines/clusters-core/cd-management.yml, pipelines/clusters-core/cd-redcliff.yml, pipelines/clusters-core/cd-test.yml, pipelines/clusters-core/ci-management.yml, pipelines/clusters-core/ci-redcliff.yml, pipelines/clusters-core/ci-test.yml

Added support for adding middlewares
  applications/modules/gateway/pass_through_ingress/main.tf
  applications/modules/gateway/pass_through_ingress/variables.tf
Due: pipelines/applications/cd-management.yml, pipelines/applications/cd-redcliff.yml, pipelines/applications/cd-test.yml, pipelines/applications/ci-applications.yml, pipelines/applications/ci-management.yml, pipelines/applications/ci-redcliff.yml, pipelines/applications/ci-test.yml

Added authentik middleware to protect clifton
  applications/modules/gateway/main.tf
Due: pipelines/applications/cd-management.yml, pipelines/applications/cd-redcliff.yml, pipelines/applications/cd-test.yml, pipelines/applications/ci-applications.yml, pipelines/applications/ci-management.yml, pipelines/applications/ci-redcliff.yml, pipelines/applications/ci-test.yml

Added authentik oauth for actual budget and moved clifton to a gateway.tf file
  applications/modules/authentik/config/clifton.tf
  applications/modules/authentik/config/gateway.tf
Due: pipelines/applications/cd-management.yml, pipelines/applications/cd-redcliff.yml, pipelines/applications/cd-test.yml, pipelines/applications/ci-applications.yml, pipelines/applications/ci-management.yml, pipelines/applications/ci-redcliff.yml, pipelines/applications/ci-test.yml

Added actual budget ingress
  applications/modules/gateway/main.tf
Due: pipelines/applications/cd-management.yml, pipelines/applications/cd-redcliff.yml, pipelines/applications/cd-test.yml, pipelines/applications/ci-applications.yml, pipelines/applications/ci-management.yml, pipelines/applications/ci-redcliff.yml, pipelines/applications/ci-test.yml

Created jenkins module
  applications/modules/jenkins/jcasc/auth.yaml
  applications/modules/jenkins/main.tf
  applications/modules/jenkins/values.yaml
  applications/modules/jenkins/variables.tf
  applications/modules/jenkins/versions.tf
Due: pipelines/applications/cd-management.yml, pipelines/applications/cd-redcliff.yml, pipelines/applications/cd-test.yml, pipelines/applications/ci-applications.yml, pipelines/applications/ci-management.yml, pipelines/applications/ci-redcliff.yml, pipelines/applications/ci-test.yml

Deployed jenkins module to management cluster
  applications/clusters/management/main.tf
  applications/modules/gateway/management.tf
Due: pipelines/applications/cd-management.yml, pipelines/applications/cd-redcliff.yml, pipelines/applications/cd-test.yml, pipelines/applications/ci-applications.yml, pipelines/applications/ci-management.yml, pipelines/applications/ci-redcliff.yml, pipelines/applications/ci-test.yml

Reorganised jenkins config
  applications/modules/jenkins/main.tf
  applications/modules/jenkins/main_values.yaml
  applications/modules/jenkins/values/auth.yaml
  applications/modules/jenkins/values/plugins.yaml
  applications/modules/jenkins/values/theme.yaml
Due: pipelines/applications/cd-management.yml, pipelines/applications/cd-redcliff.yml, pipelines/applications/cd-test.yml, pipelines/applications/ci-applications.yml, pipelines/applications/ci-management.yml, pipelines/applications/ci-redcliff.yml, pipelines/applications/ci-test.yml

Added dark theme plugin
  applications/modules/jenkins/values/plugins.yaml
Due: pipelines/applications/cd-management.yml, pipelines/applications/cd-redcliff.yml, pipelines/applications/cd-test.yml, pipelines/applications/ci-applications.yml, pipelines/applications/ci-management.yml, pipelines/applications/ci-redcliff.yml, pipelines/applications/ci-test.yml

Set access token validity to 7 days for protected services
  applications/modules/authentik/config/forward_auth.tf
Due: pipelines/applications/cd-management.yml, pipelines/applications/cd-redcliff.yml, pipelines/applications/cd-test.yml, pipelines/applications/ci-applications.yml, pipelines/applications/ci-management.yml, pipelines/applications/ci-redcliff.yml, pipelines/applications/ci-test.yml

Add Ansible playbook and inventory setup with Jenkins pipeline
  ansible/initial_setup/Jenkinsfile
  ansible/initial_setup/inventory.ini
  ansible/jenkins-pod.yaml
  applications/modules/jenkins/values/plugins.yaml
Due: pipelines/applications/cd-management.yml, pipelines/applications/cd-redcliff.yml, pipelines/applications/cd-test.yml, pipelines/applications/ci-applications.yml, pipelines/applications/ci-management.yml, pipelines/applications/ci-redcliff.yml, pipelines/applications/ci-test.yml

Corrected ansible image
  ansible/jenkins-pod.yaml
Due: none

Added sleep command to ansible container
  ansible/jenkins-pod.yaml
Due: none

Updated and hopefully fixed pipeline
  ansible/initial_setup/Jenkinsfile
  ansible/initial_setup/site.yml
Due: none

Updated inventory
  ansible/initial_setup/inventory.ini
Due: none

Updated and hopefully fixed pipeline
  ansible/initial_setup/Jenkinsfile
Due: none

Updated inventory
  ansible/initial_setup/Jenkinsfile
Due: none

Updated and hopefully fixed pipeline
  ansible/initial_setup/Jenkinsfile
  ansible/initial_setup/config.alloy
Due: none

Moved usernames to credentials
  ansible/initial_setup/Jenkinsfile
  ansible/initial_setup/site.yml
Due: none

Moved usernames to credentials
  ansible/initial_setup/Jenkinsfile
Due: none

Corrected parameter name
  ansible/initial_setup/Jenkinsfile
Due: none

Updated lock file
  clusters/test/cluster/.terraform.lock.hcl
  clusters/test/cluster/providers.tf
Due: none

Updated kubernetes version
  modules/downstream_cluster/main.tf
Due: none

Reverted back to use become parameter
  ansible/initial_setup/Jenkinsfile
Due: none

Updated to not use special connection variable
  ansible/initial_setup/Jenkinsfile
  ansible/initial_setup/site.yml
Due: none

Reorganised playbook
  ansible/initial_setup/site.yml
Due: none
