Repository rhysj6/homelab: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/applications/cd-management.yml, pipelines/applications/cd-observability.yml, pipelines/applications/cd-redcliff.yml, pipelines/applications/cd-test.yml, pipelines/applications/ci-applications.yml, pipelines/applications/ci-management.yml, pipelines/applications/ci-observability.yml, pipelines/applications/ci-redcliff.yml, pipelines/applications/ci-test.yml, pipelines/clusters-core/cd-management.yml, pipelines/clusters-core/cd-redcliff.yml, pipelines/clusters-core/cd-test.yml, pipelines/clusters-core/ci-management.yml, pipelines/clusters-core/ci-redcliff.yml, pipelines/clusters-core/ci-test.yml, pipelines/provisioning.yml

Path conditions:
  pipelines/applications/cd-management.yml: any of: applications/clusters/management, applications/modules
  pipelines/applications/cd-observability.yml: any of: applications/observability
  pipelines/applications/cd-redcliff.yml: any of: applications/clusters/redcliff, applications/modules
  pipelines/applications/cd-test.yml: any of: applications/clusters/test, applications/modules
  pipelines/applications/ci-applications.yml: any of: applications/modules, applications/clusters, applications/observability
  pipelines/applications/ci-management.yml: any of: applications/clusters/management, applications/modules
  pipelines/applications/ci-observability.yml: any of: applications/observability
  pipelines/applications/ci-redcliff.yml: any of: applications/clusters/redcliff, applications/modules
  pipelines/applications/ci-test.yml: any of: applications/clusters/test, applications/modules
  pipelines/clusters-core/cd-management.yml: any of: clusters/management/core, modules/core_cluster
  pipelines/clusters-core/cd-redcliff.yml: any of: clusters/redcliff/core, modules/core_cluster
  pipelines/clusters-core/cd-test.yml: any of: clusters/test/core, modules/core_cluster
  pipelines/clusters-core/ci-management.yml: any of: clusters/management, modules/core_cluster
  pipelines/clusters-core/ci-redcliff.yml: any of: clusters/redcliff/core, modules/core_cluster
  pipelines/clusters-core/ci-test.yml: any of: clusters/test/core, modules/core_cluster
  pipelines/provisioning.yml: any of: pipelines

Made it that Pull request based pipelines don't ping
  pipelines/templates/discord-notification.yml
Due: pipelines/provisioning.yml

Moved rancher module to simpler structure
  applications/rancher/.terraform.lock.hcl
  applications/rancher/backups.tf
  applications/rancher/env/management/main.tf
  applications/rancher/main.tf
  applications/rancher/module/versions.tf
  applications/rancher/providers.tf
  applications/rancher/variables.tf
Due: none

Added pipelines for rancher
  pipelines/applications/cd-rancher.yml
  pipelines/applications/ci-rancher.yml
Due: pipelines/provisioning.yml

Deleted global cnpg module as it is unused
  global/README.md
  global/cnpg/.terraform.lock.hcl
  global/cnpg/main.tf
  global/cnpg/providers.tf
Due: none

Corrected missing environment variables
  pipelines/templates/discord-notification.yml
Due: pipelines/provisioning.yml

Added required providers into providers.tf
  clusters/management/core/providers.tf
  clusters/redcliff/core/providers.tf
  clusters/test/core/providers.tf
Due: pipelines/clusters-core/cd-management.yml, pipelines/clusters-core/cd-redcliff.yml, pipelines/clusters-core/cd-test.yml, pipelines/clusters-core/ci-management.yml, pipelines/clusters-core/ci-redcliff.yml, pipelines/clusters-core/ci-test.yml

Updated some lockfiles
  applications/clusters/management/.terraform.lock.hcl
  applications/clusters/redcliff/.terraform.lock.hcl
  applications/clusters/test/.terraform.lock.hcl
  clusters/test/core/.terraform.lock.hcl
Due: pipelines/applications/cd-management.yml, pipelines/applications/cd-redcliff.yml, pipelines/applications/cd-test.yml, pipelines/applications/ci-applications.yml, pipelines/applications/ci-management.yml, pipelines/applications/ci-redcliff.yml, pipelines/applications/ci-test.yml, pipelines/clusters-core/cd-test.yml, pipelines/clusters-core/ci-test.yml

Added required providers into cluster provider files
  applications/clusters/redcliff/providers.tf
  applications/clusters/test/providers.tf
Due: pipelines/applications/cd-redcliff.yml, pipelines/applications/cd-test.yml, pipelines/applications/ci-applications.yml, pipelines/applications/ci-redcliff.yml, pipelines/applications/ci-test.yml

Updated README
  README.md
Due: none

Simplied readme
  README.md
Due: none

Added loads of docs
  README.md
  ansible/README.md
  ansible/initial_setup/README.md
  applications/README.md
  clusters/README.md
  pipelines/README.md
Due: pipelines/provisioning.yml

Update provider configurations and remove unused authentik provider
  clusters/management/core/providers.tf
  clusters/redcliff/cluster/providers.tf
  clusters/redcliff/core/.terraform.lock.hcl
  clusters/redcliff/core/providers.tf
  clusters/test/cluster/providers.tf
  clusters/test/core/providers.tf
  modules/core_cluster/versions.tf
Due: pipelines/clusters-core/cd-management.yml, pipelines/clusters-core/cd-redcliff.yml, pipelines/clusters-core/cd-test.yml, pipelines/clusters-core/ci-management.yml, pipelines/clusters-core/ci-redcliff.yml, pipelines/clusters-core/ci-test.yml

Removed redundant providers
  modules/postgres_cluster/versions.tf
Due: none

Updated all providers and simplified stuff
  applications/clusters/management/providers.tf
  applications/clusters/redcliff/providers.tf
  applications/clusters/test/providers.tf
  applications/modules/pihole/versions.tf
  applications/modules/semaphore/versions.tf
Due: pipelines/applications/cd-management.yml, pipelines/applications/cd-redcliff.yml, pipelines/applications/cd-test.yml, pipelines/applications/ci-applications.yml, pipelines/applications/ci-management.yml, pipelines/applications/ci-redcliff.yml, pipelines/applications/ci-test.yml

Updated secret key to hopefully fix it
  modules/postgres_cluster/main.tf
Due: none

Disabled notifications and comments
  pipelines/templates/module-change-detection.yml
Due: pipelines/provisioning.yml

Enabled refresh on plan
  pipelines/templates/module-change-detection.yml
Due: pipelines/provisioning.yml

Moved to single stage auto approved pipeline
  pipelines/templates/apply-module.yml
Due: pipelines/provisioning.yml

Removed job and just used steps for simplicity
  pipelines/templates/apply-module.yml
Due: pipelines/provisioning.yml

Removed job and just used steps for simplicity
  pipelines/templates/module-change-detection.yml
Due: pipelines/provisioning.yml

Updated lock file
  pipelines/module/.terraform.lock.hcl
Due: pipelines/provisioning.yml

Updated pipeline back to use job due to issues
  pipelines/templates/apply-module.yml
  pipelines/templates/module-change-detection.yml
Due: pipelines/provisioning.yml

Adjusted notification wording
  pipelines/templates/apply-module.yml
Due: pipelines/provisioning.yml

Updated to use pihole v6 api
  applications/modules/pihole/external_dns.tf
Due: pipelines/applications/cd-management.yml, pipelines/applications/cd-redcliff.yml, pipelines/applications/cd-test.yml, pipelines/applications/ci-applications.yml, pipelines/applications/ci-management.yml, pipelines/applications/ci-redcliff.yml, pipelines/applications/ci-test.yml

Add configuration to allow all interfaces in dnsmasq
  applications/modules/pihole/dnsmasq.conf
Due: pipelines/applications/cd-management.yml, pipelines/applications/cd-redcliff.yml, pipelines/applications/cd-test.yml, pipelines/applications/ci-applications.yml, pipelines/applications/ci-management.yml, pipelines/applications/ci-redcliff.yml, pipelines/applications/ci-test.yml

Updated missed update
  clusters/test/core/.terraform.lock.hcl
  clusters/test/core/providers.tf
Due: pipelines/clusters-core/cd-test.yml, pipelines/clusters-core/ci-test.yml

Adjusted version constraint to not use 3.0.2
  clusters/test/core/.terraform.lock.hcl
  clusters/test/core/providers.tf
Due: pipelines/clusters-core/cd-test.yml, pipelines/clusters-core/ci-test.yml

Adjust step display name
  pipelines/templates/module-change-detection.yml
Due: pipelines/provisioning.yml

Updated missed test cluster
  clusters/test/core/.terraform.lock.hcl
  clusters/test/core/providers.tf
Due: pipelines/clusters-core/cd-test.yml, pipelines/clusters-core/ci-test.yml

Updated dependencies to work with v3 changes
  applications/clusters/management/.terraform.lock.hcl
  applications/clusters/management/providers.tf
  applications/clusters/redcliff/.terraform.lock.hcl
  applications/clusters/redcliff/providers.tf
  applications/clusters/test/.terraform.lock.hcl
  applications/clusters/test/providers.tf
  applications/observability/providers.tf
  applications/rancher/providers.tf
Due: pipelines/applications/cd-management.yml, pipelines/applications/cd-observability.yml, pipelines/applications/cd-redcliff.yml, pipelines/applications/cd-test.yml, pipelines/applications/ci-applications.yml, pipelines/applications/ci-management.yml, pipelines/applications/ci-observability.yml, pipelines/applications/ci-redcliff.yml, pipelines/applications/ci-test.yml

Updated lock files
  clusters/management/core/.terraform.lock.hcl
  clusters/management/core/providers.tf
  clusters/redcliff/core/.terraform.lock.hcl
  clusters/redcliff/core/providers.tf
  clusters/test/core/.terraform.lock.hcl
  clusters/test/core/providers.tf
Due: pipelines/clusters-core/cd-management.yml, pipelines/clusters-core/cd-redcliff.yml, pipelines/clusters-core/cd-test.yml, pipelines/clusters-core/ci-management.yml, pipelines/clusters-core/ci-redcliff.yml, pipelines/clusters-core/ci-test.yml

Updated to be compatible with v3 helm
  clusters/redcliff/core/providers.tf
  modules/core_cluster/cert-manager.tf
  modules/core_cluster/longhorn.tf
  modules/core_cluster/postgres.tf
  modules/core_cluster/traefik.tf
  modules/core_cluster/versions.tf
Due: pipelines/clusters-core/cd-management.yml, pipelines/clusters-core/cd-redcliff.yml, pipelines/clusters-core/cd-test.yml, pipelines/clusters-core/ci-management.yml, pipelines/clusters-core/ci-redcliff.yml, pipelines/clusters-core/ci-test.yml

Updated to be compatible with v3 helm
  applications/rancher/backups.tf
  applications/rancher/main.tf
Due: none

Moved to use generated secrets from cnpg and simplified module significantly
  modules/postgres_cluster/main.tf
  modules/postgres_cluster/output.tf
Due: none

Moved to use generated secret from cnpg within application configs
  applications/modules/authentik/app/main.tf
  applications/modules/semaphore/main.tf
Due: pipelines/applications/cd-management.yml, pipelines/applications/cd-redcliff.yml, pipelines/applications/cd-test.yml, pipelines/applications/ci-applications.yml, pipelines/applications/ci-management.yml, pipelines/applications/ci-redcliff.yml, pipelines/applications/ci-test.yml

Removed redundant variable
  applications/modules/authentik/app/main.tf
  applications/modules/semaphore/main.tf
  modules/postgres_cluster/variables.tf
Due: pipelines/applications/cd-management.yml, pipelines/applications/cd-redcliff.yml, pipelines/applications/cd-test.yml, pipelines/applications/ci-applications.yml, pipelines/applications/ci-management.yml, pipelines/applications/ci-redcliff.yml, pipelines/applications/ci-test.yml

Refactored cilium based config to better handle 2 stage applies
  modules/core_cluster/cilium.tf
  modules/core_cluster/data.tf
Due: pipelines/clusters-core/cd-management.yml, pipelines/clusters-core/cd-redcliff.yml, pipelines/clusters-core/cd-test.yml, pipelines/clusters-core/ci-management.yml, pipelines/clusters-core/ci-redcliff.yml, pipelines/clusters-core/ci-test.yml

Refactor cert-manager CRD handling to improve ClusterIssuer creation logic
  modules/core_cluster/cert-manager.tf
  modules/core_cluster/data.tf
Due: pipelines/clusters-core/cd-management.yml, pipelines/clusters-core/cd-redcliff.yml, pipelines/clusters-core/cd-test.yml, pipelines/clusters-core/ci-management.yml, pipelines/clusters-core/ci-redcliff.yml, pipelines/clusters-core/ci-test.yml

Fixed circular dependency #89
  modules/core_cluster/cert-manager.tf
  modules/core_cluster/data.tf
Due: pipelines/clusters-core/cd-management.yml, pipelines/clusters-core/cd-redcliff.yml, pipelines/clusters-core/cd-test.yml, pipelines/clusters-core/ci-management.yml, pipelines/clusters-core/ci-redcliff.yml, pipelines/clusters-core/ci-test.yml

Added traefik dashboard
  applications/observability/grafana_configs/dashboards/traefik.json
Due: pipelines/applications/cd-observability.yml, pipelines/applications/ci-applications.yml, pipelines/applications/ci-observability.yml
